/* ===== =====>> Google Font Poppins <<===== ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ===== =====>> Universal Selector <<===== ===== */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
}

/* ===== =====>> Body Html Selector <<===== ===== */
html {
  font-size: 10px; /* Here 1rem = 10px */
  scroll-behavior: smooth;
}

body .container{
    width: 100%; 
    overflow: hidden;
}

header{ 
    max-height: 100vh;
    background: #fff; 
}

header.scrollNavbar{
    background: #fff; 
}

header nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 0;
    z-index: 2; 
    transition: .3s;
}

header nav.scrollNavbar{
    background: #fff;
    /* box-shadow: 0 5px 25px rgba(0,0,0,.05); */
    box-shadow: 0 8px 24px 0 rgb(23 50 101 / 10%);
} 

header nav .logo{
    margin-left: 5rem;
}

header nav .logo span{
    font-size: 3.2rem;
    background: #06CC99;
    color: #fff;
    padding: .5rem;
    border-radius: 0 0 5rem 0;
    box-shadow: 5px 5px 5px rgb(16 16 16 / 10%), 
                10px 10px 10px rgb(16 16 16 / 10%); 

    text-shadow: 5px 5px 5px rgb(16 16 16 / 10%), 
                 10px 10px 10px rgb(16 16 16 / 10%),
                 5px 5px 5px rgb(16 16 16 / 10%), 
                 10px 10px 10px rgb(16 16 16 / 10%); 
    animation: animeLogo 3s linear infinite;
}

@keyframes animeLogo {
    0%,100%{
        border-radius: 0 0 5rem 0;
    }

    50%{
        border-radius: 5rem 0 0 0; 
    }
} 

header nav .navList ul li{
    position: relative;
    display: inline; 
    padding: .5rem 2.5rem;  
} 

header nav .navList ul li a{
    font-size: 1.6rem;
    color: #000;   
} 

header nav .navList ul li a.active::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    margin: auto;
    width: 1rem;
    height: 1rem;
    background: #06CC99;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(16 16 16 / 10%), 10px 10px 10px rgb(16 16 16 / 10%); 
}  

header nav .navList ul li.active a{
    font-weight: 500;
}

header nav .navBtn{
    margin-right: 5rem;
}

header nav .navBtn a{
    font-size: 1.6rem;
    color: #000;
    padding: 1.5rem 2.5rem;
    border: 2px solid #06CC99;
    border-radius: 4rem;
    font-weight: 500;
}

header nav .navToggleBtn{
    display: none;
}  

/* ====== ======>> Sections <<====== ====== */
main section{
    padding: 12rem 5rem 10rem;
}

main section .section_header{ 
    text-align: center;
    padding-bottom: 8rem;
}

main section .section_header span{
    font-size: 1.8rem;
    color: #06CC99; 
    font-weight: 300; 
    letter-spacing: .8rem;
}

main section .section_header h1{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem
}

main section .section_header p{
    font-size: 1.6rem;
    max-width: 60%;
    margin: auto;
}

main section .section_content{
    width: 80%;
    margin: auto;
}

/* ====== ======>> Home Section <<====== ====== */
main .home{ 
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 0;
    overflow: hidden;
}

main .home .left_content,
main .home .right_content{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

main .home .left_content{
    height: 100vh;
    justify-content: flex-end;
} 

main .home .left_content .content{
    display: flex;
    justify-content: center;   
    flex-direction: column; 
    width: 80%;
    height: 80%; 
    margin-top: 5rem;
}  

main .home .left_content h1{
    font-size: 4.5rem;
    line-height: 5rem;
    margin-bottom: 1.8rem;
    text-transform: capitalize;
    max-width: 80%;
} 

main .home .left_content p{
    font-size: 1.6rem;
    margin-bottom: 6rem;
}
 
main .home .left_content .subscription{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    align-items: center;  
}

main .home .left_content .subscription input{
    font-size: 1.6rem;
    padding: 1.6rem 2.5rem;
    padding-right: 8rem;
    border: none;
    outline: none;
    box-shadow: 5px 5px 50px rgba(0,0,0,.1);
    border-radius: 3rem;
}

main .home .left_content .subscription .btn{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    padding: 1.6rem 2.5rem;
    background: #06CC99; 
    border-radius: 3rem;
    cursor: pointer;
}

main .home .left_content .subscription .btn::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%; 
    background: #06CC99;
    filter: blur(3rem);
    transform: translateY(.5rem) scale(0.7);
    z-index: -1;
}

main .home .left_content .subscription .btn a{
    font-size: 1.6rem; 
    color: #fff; 
} 

main .home .left_content .subscription .btn .ri{
    font-size: 2.5rem;
    color: #fff;
} 
  
main .home .right_content img{ 
    width: 75%;
    height: 75%;
    object-fit: contain;
    margin-top: 5rem;
} 

/* ====== ======>> Features Section <<====== ====== */
main .features{
    position: relative; 
}

main .features::before{
    content: '';
    position: absolute;
    top: -15rem;
    left: 0;
    width: 30rem;
    height: 30rem;
    background: url(watermark1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

main .features::after{
    content: '';
    position: absolute;
    bottom: -10rem;
    right: 0;
    width: 30rem;
    height: 30rem;
    background: url(watermark2.jpg);
    background-size: contain; 
    background-repeat: no-repeat;
    z-index: -1;
}

main .features .section_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 35rem;
    gap: 2.5rem; 
    padding-top: 7rem;
}

main .features .section_content .box{ 
    position: relative;
    padding: 2.5rem;
    padding-bottom: 5rem;
    text-align: center;    
    border-radius: 5rem 0 0 0;   
    cursor: pointer;
     
}     

main .features .section_content .box .card{
    position: relative;
}

main .features .section_content .box .card img{
    position: absolute;
    top: -7rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 12rem;
    height: 12rem; 
}

main .features .section_content .box .card h1{
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.8rem;
    font-weight: 500; 
}

main .features .section_content .box .card p{
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    font-size: 1.4rem; 
}

main .features .section_content .box .card a{
    position: absolute;
    top: 24rem;
    left: 0;
    right: 0;
    width: 40%;
    margin: auto;
    font-size: 1.6rem;
    background: #fff;
    color: #E16E3F;
    padding: 1.2rem 0; 
    border: 1px solid #06CC99;
    border-radius: 3rem;
    transition: .3s;
}

main .features .section_content .box .card a.activeBtn,     
main .features .section_content .box .card a:hover{
    background: #06CC99;
    color: #fff;
}

/* ====== ======>> Service Section <<====== ====== */
main .service{  
    display: grid;
    grid-template-columns: repeat(2, 50%); 
    padding: 0;
} 

main .service .service_figure{  
    width: 100%;
    height: 100%;
}
 
main .service .service_figure img{ 
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: left;
    border-radius: 0 0 50% 0; 
}

main .service .content{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-left: 8rem;
}

main .service .content span{ 
    font-size: 1.8rem;
    color: #E16E3F;
    font-weight: 300;
    letter-spacing: .8rem;
}

main .service .content h1{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    max-width: 70%; 
}

main .service .content p{
    font-size: 1.6rem; 
    margin-bottom: 2.5rem;
    max-width: 80%;
}

main .service .content img{
    width: 15rem;
    height: 5rem;
    margin-right: 1.5rem;
} 

/* ====== ======>> menu Section <<====== ====== */
main .menu{
    position: relative;
}

main .menu::before{
    content: '';
    position: absolute;
    bottom: -5rem;
    left: 5rem;
    width: 25rem;
    height: 25rem;
    background: url(watermark3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

main .menu .section_content{
    display: flex;
    flex-wrap: wrap;
    max-width: 85rem;
    column-gap: 1rem;
    row-gap: 5rem;
}

main .menu .section_content .card{
    display: flex; 
    align-items: center;  
    width: 20rem;
    height: 20rem;   
    margin: auto;
    box-shadow: 0 0 25px rgba(0,0,0,.05);
    border-radius: 10rem 0 0 0;
    cursor: pointer;
}

main .menu .section_content .card:nth-child(1),
main .menu .section_content .card:nth-child(6){
    width: 40rem;
    height: 30rem;
}

main .menu .section_content .card .box{
   position: relative;
   width: 100%;
   height: 100%;
}

main .menu .section_content .card .box .menuItem{
    width: 100%;
    height: 13rem;
}  

main .menu .section_content .card:nth-child(1) .box .menuItem,
main .menu .section_content .card:nth-child(6) .box .menuItem{ 
    height: 18rem;
}

main .menu .section_content .card .box h1{
    position: absolute;
    top: 14rem;
    left: 1.5rem;
    font-size: 1.6rem;  
    font-weight: 500; 
} 

main .menu .section_content .card:nth-child(1) .box h1,
main .menu .section_content .card:nth-child(6) .box h1{ 
    top: 20rem;
    left: 2.5rem;
    font-size: 2rem;
}  

main .menu .section_content .card .box .rating{
    position: absolute;
    top: 16.5rem;
    left: 1.2rem;
}

main .menu .section_content .card:nth-child(1) .box .rating,
main .menu .section_content .card:nth-child(6) .box .rating{
    top: 24rem;
    left: 2.2rem;
} 

main .menu .section_content .card .box .rating .ri{
    font-size: 1.8rem;
    color: #06CC99; 
} 

main .menu .section_content .card:nth-child(1) .box .rating .ri,
main .menu .section_content .card:nth-child(6) .box .rating .ri{
    font-size: 2.2rem;
}

main .menu .section_content .card .box .rating .rii{
    color: #B8F1E2;
} 

main .menu .section_content .card .box .price{
    position: absolute;
    top: 14rem;
    right: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    background: #E6FBF6;
    padding: .8rem;
    border-radius: 3rem 0 3rem 3rem;
}  

main .menu .section_content .card:nth-child(1) .box .price,
main .menu .section_content .card:nth-child(6) .box .price{
    top: 20rem;
    right: 5rem;
    font-size: 2.2rem;
    font-weight: 400;
    background: transparent;
}

main .menu .section_content .card .box .addToCart{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 3rem; 
    cursor: pointer;
    opacity: 0;
    transition: .3s;
}

main .menu .section_content .card:nth-child(1) .box .addToCart,
main .menu .section_content .card:nth-child(6) .box .addToCart{
    width: 6rem;
    height: 6rem; 
    opacity: 1;
}
 
main .menu .section_content .card:hover .box .addToCart{
    opacity: 1;
}

main .menu .section_content .card .box .addToCart img{
    width: 100%;
    height: 100%;
}

main .menu .exploreMore{
    text-align: center; 
    margin-top: 8rem;
}

main .menu .exploreMore a{
    font-size: 1.6rem;
    background: #fff;
    color: #000;
    font-weight: 500;
    padding: 1.2rem 2.5rem;
    border: 1px solid #06CC99;
    border-radius: 3rem;
    transition: .3s;
}  

main .menu .exploreMore a:hover{
    background: #06CC99;
    color: #fff;
}

/* ====== ======>> Clinet Section <<====== ====== */
main .client{
    position: relative;  
}

main .client::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: -15rem;
    width: 50%;
    height: 70%;
    background: url(home.jpg);
    background-size: contain; 
    background-repeat: no-repeat;
    transform: rotate(210deg);
    z-index: -1;
} 

main .client .section_content .swiper{ 
    width: 100%;
    height: 100%; 
    padding: 0 2.5rem;
    padding-bottom: 8rem; 
}   

main .client .section_content .swiper .swiper-slide{ 
    width: 32rem;
    height: 28rem;
}

main .client .section_content .swiper .swiper-slide .card{ 
    position: relative; 
    width: 100%;
    height: 100%;
    background: #fff;
    background: linear-gradient(to right bottom, rgba(255,255,255,.7), rgba(255,255,255,.5)); 
    backdrop-filter: blur(5px);
    border-radius: 5rem 0 0 0;
    cursor: pointer;
}

main .client .section_content .swiper .swiper-slide .card .profile{ 
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    width: 6rem;
    height: 6rem;
}

main .client .section_content .swiper .swiper-slide .card h1{
    position: absolute;
    top: 2.5rem;
    left: 12rem;
    font-size: 1.8rem;
    font-weight: 500;
}

main .client .section_content .swiper .swiper-slide .card span{
    position: absolute;
    top: 5rem;
    left: 12rem;
}

main .client .section_content .swiper .swiper-slide .card p{
    position: absolute;
    top: 11rem;
    left: 2.5rem;
    font-size: 1.6rem;
    width: 85%;
}

main .client .section_content .swiper .swiper-slide .card .rating{
    position: absolute;
    top: 21rem;
    left: 2.5rem;  
}

main .client .section_content .swiper .swiper-slide .card .rating .ri{
    font-size: 2.2rem;
    color: #06CC99;
}

main .client .section_content .swiper .swiper-slide .card .rating .rii{
    color: #B8F1E2;
}

main .client .section_content .swiper .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
}

main .client .section_content .swiper .swiper-pagination-bullet-active {
    background: #06CC99;
    box-shadow: 5px 5px 5px rgb(16 16 16 / 10%);
}

/* ===== =====>> Sign up Section <<===== ===== */
main .signup{ 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 5rem;
    width: 70%;
    margin: 10rem auto;
    background: #fff;
    box-shadow: 0 0 25px rgba(0,0,0,.05); 
    border-radius: 0 0 5rem 0;
}  

main .signup .section_content{ 
    width: max-content;
}

main .signup .section_content h1{
    font-size: 2.5rem;  
}

main .signup .section_content p{
    font-size: 1.8rem; 
}

main .signup .signUpBtn{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 1.6rem 2.5rem;
    background: #06CC99;
    border-radius: 3rem;
    cursor: pointer;
}

main .signup .signUpBtn a{
    font-size: 1.6rem;
    color: #fff;
}

main .signup .signUpBtn .ri{ 
    font-size: 2.5rem;
    color: #fff;
}

/* ===== =====>> Footer <<===== ===== */
footer{
    border-bottom: 1px solid rgba(0,0,0,.1);
}

footer .footer_content{
    display: grid;
    grid-template-columns: 30% auto;
    gap: 2.5rem;
    width: 80%;
    margin: auto;
    padding: 5rem 0;
} 

footer .footer_content .brand{
    padding: 1.5rem;
}

footer .footer_content .brand .logo{ 
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    background: #06CC99;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0 0 5rem 0;
    margin-bottom: 5rem; 
    box-shadow: 5px 5px 5px rgb(16 16 16 / 10%), 
                10px 10px 10px rgb(16 16 16 / 10%); 
}  

footer .footer_content .brand .logo .ri{   
    text-shadow: 5px 5px 5px rgb(16 16 16 / 10%), 
                 10px 10px 10px rgb(16 16 16 / 10%);
}

footer .footer_content .brand .social_contact ul li{
    display: inline-block; 
}

footer .footer_content .brand .social_contact ul li .ri{
    font-size: 1.6rem;
    background: #000;
    padding: .5rem;
    color: #fff;
    border-radius: 50%;
    margin-right: 1.2rem;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(16 16 16 / 10%), 10px 10px 10px rgb(16 16 16 / 10%);  
}

footer .footer_content .right_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 1.5rem;  
}

footer .footer_content .box{ 
    padding: 1.5rem;
}

footer .footer_content .box ul li{
    font-size: 1.6rem;
    margin-bottom: .2rem;
}

footer .footer_content .box ul li.tittle{
    margin-bottom: 2.5rem;
    font-weight: 600;
    font-size: 1.8rem;
}

/* ===== =====>> Copyright <<===== ===== */
.copyright_content{
    padding: 2.5rem;
    text-align: center;
}

.copyright_content p{
    font-size: 1.6rem;
}

.copyright_content p span{
    font-size: 1.8rem;
    font-weight: 500;
    color: #06CC99;
}

/* ===== =====>> Scroll Up Btn <<===== ===== */
.scroll_up{
    position: fixed;
    bottom: 2.6rem;
    right: 2rem;
    opacity: 0;
    transition: 0.5s;
}

.scroll_up.show_scroll{
    opacity: 1;
}

.scroll_up .ri{
    font-size: 2.8rem;
    background: #06CC99;
    color: #fff;
    padding: .6rem;
    border-radius: 0.6rem; 
    box-shadow: 5px 5px 5px rgba(16,16,16,.1),
                    10px 10px 10px rgba(16,16,16,.1); 
}

body{
    position: relative;
}

body::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35%;
    height: 15rem;
    background: #E6FBF6; 
    border-radius: 0 100% 0 0; 
    z-index: -1;
}


/* ===== =====>> Webkit Scrollbar And Selection Css <<===== ===== */
::selection {
    background: #e4e7eb;
    color: #000;
  }
  
  ::-webkit-scrollbar {
    width: 0.8rem; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #323a45;
  }
 